:root{
    --primary-color:green;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

    font-family:'Montserrat',sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,#74ebd5,#acb6e5);

}
input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    border:1px solid #ccc ;
    border-radius: 0.25rem;
    outline: none;
}
.text-center{
    text-align: center;
    color: gray;
}

.with-50
{
    width: 50%;

}
.ml-auto{
    margin-left: auto;
}
/* progressbar */
.progressbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2rem  0  4rem 0;
    counter-reset: step;
}
.progressbar::before, .progress{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: #dcdcdc;
}
.progress{

    background-color: green;
    width: 0px;
    transition: 0.3s ease-in-out
}
.progress-step{
    width: 34px;
    height: 34px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    
}

.progress-step::before{
    counter-increment: step;
    content:counter(step)
}
.progress-step::after{
   content: attr(data-title); 
   position: absolute;
   top: calc(100% + 0.5rem);
   font-size: 0.8rem;
}
.progress-step.active{
    background-color: green;
    color: rgb(78, 69, 69)
}
label{
    display: block;
    margin-bottom: 0.5rem;
    /* margin: 10px; */
    /* padding: 10px; */

}
.form{
    width: clamp(320px,30%,430px);
    margin:0 auto;
    border: 1px solid #ccc;
    border-radius: .35rem;
    padding: 1.5rem;
    background-color: #ecf0f1;
    box-shadow: 2px 4px 22px -1px #000000;
    /* height: 400px; */
}
.form .active{
    display: block;
}
.input-group{
    margin: 2rem 0;
    /* background-color: red; */
}
 .btn{
    padding: 0.75rem;
    display:block ;
    text-align: center;
    text-decoration: none;
    background-color:var(--primary-color) ;
    color: #f4f3f3;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}   
.btns-group{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.btn :active{
    transform: scale(.98);
} 
.btn:hover{
    box-shadow: 0 0 0 2px #fff,0 0 0 3px var(--primary-color);

}
.form-step{
    display:none;
    transform-origin: top;
    animation-duration: animate 0.5s;
}
@keyframes animate{
    from{
        transform: scale(1,0);
        opacity: 0;
    }
    to{
        transform: scale(1,1);
        opacity: 1;
    }}

